<!DOCTYPE html>
<html>
<head>
<title>Q&A</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>



<%= month_calendar do |date| %>
  <%= date %>
<% end %>

<%= calendar(number_of_days: 4) do |date| %>
  <%= date %>
<% end %>

  <div class="home_container">

    <div class="home_image">
       <%= image_tag "help_egogram.png",width: "30%"%>
    </div>
    <div class="content_explanation">
    Q．理想的なエゴグラムの形は？</br>
A.　どの要素にもメリット・デメリットがある。</br>
どれが高ければ良いというのは基本的にはないが、Aを頂点になだらかな山の形をしているのが一応理想的と言われている</br></br>
図で表すとこんな感じである</br>
Q．パスワード・メールアドレスを変更したいです</br>
A,　パスワード変更はこちらから手続きができます</br></br>
Q．退会したいです</br>
A.　こちらから退会の手続きができます


    </div>


</div>
</body>

<%= yield %>
</html>

