<!DOCTYPE html>
  <html>
    <head>
      <title>ホーム画面</title>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    </head>

        <body>
          <div class="home_container">
            <div class="content_top">
            <h2><%= link_to 'ゲストログイン（閲覧用）はこちら', users_guest_sign_in_path, method: :post %></h2>

              <h1>EgoYourSelfでできること</h1>
              <p>自分の思い込みや思考のクセを知ることで、人間関係で生じる悩みなどの改善を目指します</p>
              <p>エゴグラム診断や日記を通じて、客観的に自分を見ることを目指します</p>
              <p>より詳しい内容は<%=link_to "「エゴグラムの目的」","/contents/egogram_explanation"%><%=link_to "「日記を書く目的」","/contents/diary_explanation"%>をご参照ください</p>
            </div>
          </div>
        <%= image_tag "グループ53.png",width: "80%"%>
        </body>

    <%= yield %>

  <!--home画面の四角が浮き出てくるコード-->
    <div class="area" >
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >
  </html>

