<!DOCTYPE html>
<html>
<head>
<title>ホーム画面</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="home_container">
    <div class="content_top">
      このアプリは自分と向き合い習慣化することで</br>
      人間関係へのストレスや悩みを</br>
      解決するお手伝いをします
    </div>

    <div class="home_image">
      <%= image_tag "画像 100.png",width: "20%"%>
    </div>

    <div class="content_titles">
      人間関係を改善するには？
    </div>

    <div class="content_explanation">
      <p>自分の思い込みやクセを知ることで、人間関係で生じる悩みなどの改善を目指します</p>
    </div>
    <div class="content_titles">
      自分を知るとはどう言う事？
    </div>

    <div class="content_explanation">
      <p>客観的な評価が必要なことも含めて、自分に関する全てのことを知るということが、自分を知るということ</p>
      <p>例えば好きなもの、嫌いなものはすぐ思いつきますが、</p>
      <p>自分の価値観や考え方、性格といったものは、考えてもなかなか明確な答えがすぐにはでません</p>
      <p>このアプリで自分の価値観や考え方、性格を知っておくことで、より正しい行動や選択ができるように目指します</p>
    </div>


    <div class="content_titles">
      <p>具体的にどうやる？</p>
    </div>
    <div class="content_explanation">
      <p>主にエゴグラムと簡単な日記を書くだけ</p>
      <p>イメージは下記の通りです</p>
      <p>より詳しい内容は<%=link_to "「エゴグラムの目的」","/contents/egogram_explanation"%><%=link_to "「日記を書く目的」","/contents/diary_explanation"%>をご参照ください</p>
    </div>
    <div class="home_image">
       <%= image_tag "/app/assets/images/グループ 53.png",width: "80%"%>
    </div>
</div>
<%@test_result.each do |i|%>
<li><%=simple_format(i.egogram_type)%></li>
<li><%=simple_format(i.character)%></li>
<li><%=simple_format(i.stregth)%></li>
<li><%=simple_format(i.weakness)%></li>
<li><%=simple_format(i.people_around_you)%></li>
<%end%>
</body>

<%= yield %>
</html>

