<!DOCTYPE html>
<html>
  <head>
    <title><%= current_user.name %>さんのマイページ</title>
  </head>
<body>

    <div class="contents_index_container">
      <div>
        <h3><%= current_user.name %></h3>
<%= image_tag current_user.avatar.thumb.url %>
        <div class="text_align_left" >
        <p id="contents_list"><%=link_to "最新診断内容","/egograms/result",class: "link"%></p>
        <p id="contents_list"><%=link_to "今までの診断結果","/egograms",class: "link"%></p>
        <p id="contents_list"><%= link_to 'プロフィール変更', edit_user_registration_path ,class: "link"%></p>
        </div>
      <div>
        <h2>今週のベスト</h2>
<p>Viewに直がきしている状態</p>
        <h2>具体的な内容</h2>
<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>なぜそうなったか、または隠れた目的は？</p>
<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>どう感じましたか</p>
<p>いつもよりお互いの話の掛け合いが増えて、より話の理解度が深まって嬉しく感じた</p>
        <p>次につなげる行動として工夫することは？</p>
<p>これからもお互いが気持ち良くコミュニケーションをとれるように話す側と聞く側のバランスをとりながら接していきたい</p>
</div>
      </div>


      <div>




<%# <h2>高めたいタイプ</h2> %>

        <%
=begin%>
 <% k=User.where(id: current_user.id).pluck(:raise_type_id)%>
        <% l=RaiseType.where(id: k).pluck(:raise_type) %>
        <%= l.slice(0) %>
<%
=end%>


<%
=begin%>

未実装：高めたいタイプで送信ボタンsubmitすると下記エラーが出る
ActiveRecord::RecordNotFound in Contents#create
Showing /Users/syoichi/PF/app/views/contents/index.html.erb where line #43 raised:
Couldn't find TestResult without an ID

  <%= form_with model: @raise_type_id,url: {controller: 'contents', action: 'create' }, local: true,method: :post do |f| %>

modele: @test,url: {controller: 'contents', action: 'create' }, local: true,method: :post

<%= f.select :raise_type_id, [["CPタイプ", 1], ["NPタイプ", "2"], ["Aタイプ", "3"], ["FCタイプ", "4"],["ACタイプ", "5"]]%>

    <%= f.submit 'タイプを変更', class: 'btn btn-primary'%>

  <% end %>
<%
=end%>




        <h2 class= "result_egogram_type_title">最新のエゴグラム</h2>



<h3><%=@result%></h3>



  <%= line_chart ({"cp" => @cp, "np" => @np, "a" => @a, "fc" => @np, "ac" => @ac}),width: "100%", height: "30%",colors: ["#b00", "#666"] ,min: 0, max: 20 %>

<h2>カレンダー</h2>
<%= month_calendar events: @diaries do |date,diaries| %>

<% a=@diaries.where(created_at: date).pluck(:created_at)%>
<% b=a.map{ |i| i.strftime("%Y-%m-%d")}%>
<%b[0]%>
<%date%>
<% c=@diaries.where(created_at: date).pluck(:id)%>
<!--ここで現在のuser_idの選択したカレンダーの日にちの記事のidを取得している-->
<%c[0]%>

<%if b[0].to_s == date.to_s%>
<%#= link_to date,edit_diary_path(current_user,diary_day: diary_created_at)%>
<%= link_to date.day,edit_diary_path(c,diary_day: date) %>
<p>★</p>

<%else%>
<%=link_to date.day,new_diary_path(current_user,diary_day: date)%>

<%end%>

<% end %>
</div>
<%
=begin%>



<h1>最新のエゴグラム</h1>

      <%= line_chart ({"cp" => @cp, "np" => @np, "a" => @a, "fc" => @np, "ac" => @ac})%>

  <div class="result_container">


      <h2><span>aa</span>CSS見出し</h2>

            <h1 class= "heading07" data-en="Your Result">
              エゴグラム診断結果
            </h1>

            <h1 class= "result_egogram_type_title">
              <%=TestResult.find(@result).egogram_type%>タイプ
            </h1>



  </div>







<%
=end%>






</div>
</body>

<%= yield %>
</html>