<!DOCTYPE html>
<html>
  <head>
    <title>マイアカウント</title>
  </head>
  <body>
    <div class="contents_index_container">
          <h2>現在の目標</h2>
            <div class="text_align_left" >
              <%=@goal%>
            </div>
            <hr class="hr2">
          <h2>次につなげる行動や工夫</h2>
            <div class="text_align_left" >
              <%=@week%>
            </div>
            <hr class="hr2">
          <h2>前回の日記</h2>
          <div class="text_align_left" >
          <% @diary.each do |diary|%>
            <%= diary.diary_content_0 %></br>
            <%= diary.diary_content_1 %></br>
            <%= diary.diary_content_2 %></br>
          <%end%>
          </div>
          <hr class="hr2">

    <div>
<%
=begin%>
 <h3>その時の気持ち</h3>
<%= line_chart ({cp: 1, np: 2, a: 3, fc: 4, ac: 5}),width: "100%", height: "30%",colors: ["#b00", "#666"] ,min: 0, max: 20 %>

<p><%=link_to "最新診断内容","/egograms/result",class: "link"%>/<%=link_to "今までの診断結果","/egograms",class: "link"%></p>
<%
=end%>


<%# <h2>高めたいタイプ</h2> %>

        <%
=begin%>
 <% k=User.where(id: current_user.id).pluck(:raise_type_id)%>
        <% l=RaiseType.where(id: k).pluck(:raise_type) %>
        <%= l.slice(0) %>
<%
=end%>


<%
=begin%>

未実装：高めたいタイプで送信ボタンsubmitすると下記エラーが出る
ActiveRecord::RecordNotFound in Contents#create
Showing /Users/syoichi/PF/app/views/contents/index.html.erb where line #43 raised:
Couldn't find TestResult without an ID

  <%= form_with model: @raise_type_id,url: {controller: 'contents', action: 'create' }, local: true,method: :post do |f| %>

modele: @test,url: {controller: 'contents', action: 'create' }, local: true,method: :post

<%= f.select :raise_type_id, [["CPタイプ", 1], ["NPタイプ", "2"], ["Aタイプ", "3"], ["FCタイプ", "4"],["ACタイプ", "5"]]%>

    <%= f.submit 'タイプを変更', class: 'btn btn-primary'%>

  <% end %>
<%
=end%>





<h3>現在のタイプは「<%=@result%>」です</h3>
<p><%=link_to "最新診断内容","/egograms/result",class: "link"%>/<%=link_to "今までの診断結果","/egograms",class: "link"%></p>
<div class="center_graph">
  <%= line_chart ({cp: @cp, np: @np, a: @a, fc: @np, ac: @ac}),width: "50%", height: "50%",colors: ["#b00", "#666"] ,min: 0, max: 20 %>
</div>
<h2>カレンダー</h2>
<%= month_calendar events: @diaries do |date,diaries| %>
  <% a=@diaries.where(created_at: date).pluck(:created_at)%>
  <% b=a.map{ |i| i.strftime("%Y-%m-%d")}%>
  <%b[0]%>
  <%date%>
  <% c=@diaries.where(created_at: date).pluck(:id)%>
  <!--ここで現在のuser_idの選択したカレンダーの日にちの記事のidを取得している-->
  <%c[0]%>
  <%if b[0].to_s == date.to_s%>
  <%#= link_to date,edit_diary_path(current_user,diary_day: diary_created_at)%>
  <%= link_to date.day,edit_diary_path(c,diary_day: date) %>

<%else%>
  <%=link_to date.day,new_diary_path(current_user,diary_day: date)%>
<%end%>
  <% diaries.each do |event| %>
    <div>
      <%= event.assess %>
    </div>
  <% end %>

<% end %>
</div>
<%
=begin%>



<h1>最新のエゴグラム</h1>

      <%= line_chart ({"cp" => @cp, "np" => @np, "a" => @a, "fc" => @np, "ac" => @ac})%>

  <div class="result_container">


      <h2><span>aa</span>CSS見出し</h2>

            <h1 class= "heading07" data-en="Your Result">
              エゴグラム診断結果
            </h1>

            <h1 class= "result_egogram_type_title">
              <%=TestResult.find(@result).egogram_type%>タイプ
            </h1>



  </div>







<%
=end%>



      </div>
    </body>
  <%= yield %>
</html>