<h2>アカウント編集</h2>
<div class="acount_page">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="file_field">
  <%= f.label :avatar, "ユーザー画像を選択" %><br />
</div>

<p class="image_form"><%= f.file_field :avatar %></p>

    <p>※ユーザー画像を削除の場合はチェックをしてください<%= f.check_box :remove_avatar %></br></p>

    <%
=begin%>
 <%= f.label "名前" %><br />
    <%= f.text_field :name%><br />
<%
=end%>
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "現在のパスワード" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %><br />
  </div>

  <div class="field">
    <%= f.label "新しいパスワード" %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上、半角英数</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "パスワードの確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


<div class="btn-margin-auto">
    <%= f.submit "更新" ,class: "btn btn-success"%>


<% end %>
<%
=begin%>
 <div class="back">
  <%= link_to "戻る", :back , class: 'btn btn-info'%>
  </div>
<%
=end%>


<div class="logout" id="btn-padding">
  <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "【確認】アカウントを削除してもよろしいですか？" }, method: :delete , class: 'btn btn-danger'%>
</div>
  </div>