<!DOCTYPE html>
<html>
<head>
<title>日記</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>

  <div class="home_container">

<%=form_with model: @diary,local: true do |f|%>

<%= f.label :title1 %>
<%=f.text_field :diary_content_0%>
</br>
<%= f.label :title2 %>
<%=f.text_field :diary_content_1%>
</br>
<%= f.label :title3 %>
<%=f.text_field :diary_content_2%>
</br>

<%#=f.text_area :id%>
<%=f.submit "投稿する"%>

<%#= link_to "削除する", diaries_path(f), method: :delete, data: {confirm: "本当に削除しますか？"} %>

<%end%>
<%=form_with model: @diary, method: :delete,local: true do |f|%>

<%=f.submit "削除する",class: "btn btn-danger"%>
<% end %>

<%#= link_to "削除する", diaries_path(params[:id]), method: :delete, data: {confirm: "本当に削除しますか？"} %>
<%#= link_to "削除する", diaries_path(@diary),model: @diary, method: :delete, data: {confirm: "本当に削除しますか？"} %>

<%#= e=params[:diary_day].array%>
<%#=params%>
<%#=params[:id]%>
<%#=Diary.find_by(id: params[:id])%>
<%#=params[:diary_day]%>

<%#=f.submit "削除", diaries_path, method: :destroy%>


