<!DOCTYPE html>
<html>
<head>
<title>日記</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>

  <div class="home_container">

<%=form_with model: @diary,local: true do |f|%>
<%= f.label :title1 %>
<%=f.text_field :diary_content_0%>
</br>
<%= f.label :title2 %>
<%=f.text_field :diary_content_1%>
</br>
<%= f.label :title3 %>
<%=f.text_field :diary_content_2%>
</br>

<%=f.submit "投稿する"%>

<%end%>
