<!DOCTYPE html>
<html lang="ja">
<head>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
  <title>日記</title>
</head>
<body>
<%= Date.today.year %>年<%= Date.today.month %>月
<%= paginate @diary_page %>
<%= link_to "日記を書く",new_diary_path %>
<%= paginate @posts %>
<div class= "diaries_container">

  <% @calendar_data.each do |date| %>



    <% user_diary_day=@diaries.where(created_at: date).pluck(:created_at)%>
    <% day_rename=user_diary_day.map{ |i| i.strftime("%Y-%m-%d")}%>
    <% c=@diaries.where(created_at: date).pluck(:id)%>

    <%if date.to_s == day_rename[0].to_s%>
    <h3>
      <%= link_to date,edit_diary_path(c,diary_day: date) %>
      <%= @weeks[date.wday] %>
    </h3>


      <td><%= Diary.find_by(created_at: date).diary_content_0 %></td>
        <hr class="hr1">
      <td><%= Diary.find_by(created_at: date).diary_content_1 %></td>
        <hr class="hr1">
      <td><%= Diary.find_by(created_at: date).diary_content_2 %></td>
      <hr class="hr2">
    <%end%>
  <% end %>
</div>



</body>
</html>
