<!DOCTYPE html>
<html lang="ja">
<head>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
  <title>ζ—¥θ¨</title>
</head>
<body>
<h3>
δ»ζ—¥γ―<%= Date.today.year %>εΉ΄<%= Date.today.month %>ζ<%= Date.today.day %>ζ—¥γ§γ™
</h3>
<h3>η›®ζ¨™γ€<%= @goal %>γ€‘</h3>

<%= paginate @pagination %>
<%= link_to "ζ—¥θ¨γ‚’ζ›Έγ",new_diary_path %>

<div class= "diaries_container">
	<% @pagination.each do |date| %>
		<%case date.assess%>
		<%when 5 then%>
			<%="π†"%>
		<%when 4 then%>
			<%="π„"%>
		<%when 3 then%>
			<%="π™‚"%>
		<%when 2 then%>
			<%="π‘"%>
		<%when 1 then%>
			<%="π"%>
		<%else%>
			<%="-"%>
		<%end%>
<%= link_to date.created_at.strftime("%YεΉ΄%mζ%dζ—¥#{@weeks[Time.now.wday]}"),edit_diary_path(date) %></br></br>

<%=date.user_id%>
<%=date.diary_content_0%>
        <hr class="hr1">
<%=date.diary_content_1%>
        <hr class="hr1">
<%=date.diary_content_2%>
        <hr class="hr2">
<%end%>


</div>



</body>
</html>
