<!DOCTYPE html>
<html lang="ja">
<head>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
  <title>日記</title>
</head>
<body>
<%= Date.today.year %>年<%= Date.today.month %>月

<h3>目標【<%= @goal %>】</h3>

<%= paginate @pagination %>
<%= link_to "日記を書く",new_diary_path %>

<div class= "diaries_container">
	<% @pagination.each do |date| %>
		<%case date.assess%>
		<%when 5 then%>
			<%="😆"%>
		<%when 4 then%>
			<%="😄"%>
		<%when 3 then%>
			<%="🙂"%>
		<%when 2 then%>
			<%="😑"%>
		<%when 1 then%>
			<%="😞"%>
		<%else%>
			<%="-"%>
		<%end%>
<%= link_to date.created_at.strftime("%Y年%m月%d日#{@weeks[Time.now.wday]}"),edit_diary_path(date) %></br></br>


<%=date.diary_content_0%>
        <hr class="hr1">
<%=date.diary_content_1%>
        <hr class="hr1">
<%=date.diary_content_2%>
        <hr class="hr2">
<%end%>


</div>



</body>
</html>
