<!DOCTYPE html>
<html lang="ja">
<head>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
  <title>日記</title>
</head>
<body>
<%= Date.today.year %>年<%= Date.today.month %>月

<%= paginate @pagination %>
<%= link_to "日記を書く",new_diary_path %>
<%= paginate @posts %>



<%= paginate @diary_page %>

<%=Diary.page(3).per(1)%>

<%=paginate(@pagination1)%>
<%=paginate @pagination2%>
<div class= "diaries_container">
<% @diaries.each do |date| %>

<%= link_to date.created_at.strftime("%Y年%m月%d日#{@weeks[Time.now.wday]}"),edit_diary_path(date) %></br></br>
<%=date.diary_content_0%>
        <hr class="hr1">
<%=date.diary_content_1%>
        <hr class="hr1">
<%=date.diary_content_2%>
        <hr class="hr2">
<%end%>


</div>



</body>
</html>
