<%= link_to 'イベント追加', diaries_path %>


<%= month_calendar events: @diaries do |date,diaries| %>
  <%#= link_to date.day, edit_diary_path(current_user,diary_day: date)%>

<%#= 書き方例 link_to object.name, send("#{object.class.to_s.downcase}_path", object, size: :s, color: :red) %>
<%# unless date.to_s== Diary.find_by(created_at: "#{date}").sprintf('%Y-%m-%d')%>
<%#=@diaries.find_by(created_at: date).strftime('%Y-%m-%d')%>
<%#= a=@diaries.find_by(created_at: date)%>
<%#= a=@diaries.where(created_at: date)%>
<%#= a=@diaries.pluck(:created_at)%>
<%#= a=@diaries.where(created_at: date).pluck(:created_at).map { |e|  e[0].strftime("%m")}%>
<%#= a=@diaries.where(created_at: date).pluck(:created_at).map{ |date| date.strftime("%m/%d")}%>
<% a=@diaries.where(created_at: date).pluck(:created_at)%>
<% b=a.map{ |i| i.strftime("%Y-%m-%d")}%>
<%b[0]%>
<%date%>
<% c=@diaries.where(created_at: date).pluck(:id)%>
<!--ここで現在のuser_idの選択したカレンダーの日にちの記事のidを取得している-->
<%c[0]%>

<%if b[0].to_s == date.to_s%>
<%#= link_to date,edit_diary_path(current_user,diary_day: diary_created_at)%>
<%= link_to date.day,edit_diary_path(c,diary_day: date) %>
<%elsif%>
<%b[0].to_s != date.to_s%>
<%=link_to date.day,new_diary_path(current_user,diary_day: date)%>
<%else%>
<%=link_to date.day, edit_diary_path(current_user,diary_day: date)%>
<%end%>


<%#= undefined method `strftime' for []:Array a=@diaries.where(created_at: date).pluck(:created_at).strftime('%Y-%m-%d')%>
<%#= undefined method `strftime' for []:Arraya=@diaries.where(created_at: date).pluck(:created_at).strftime('%Y-%m-%d')%>

<%#=a.strftime('%Y/%m/%d')%>

<%#=a[0]%>
  <%#= link_to date, edit_diary_path(current_user,diary_day: date) %>


<%#=link_to_if(true,"編集", { edit_diary_path(current_user,diary_day: date})%>
<%#end%>
<%# ここから追記 %>
  <% diaries.each do |event| %>
    <div>
      <%= event.diary_content_0 %>
      <%= event.diary_content_1 %>
      <%= event.diary_content_2 %>
    </div>
  <% end %>
<%# ここまで追記 %>
<% end %>