<!DOCTYPE html>
<html>
<head>
<title>日記</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>

  <div class="home_container">


<%=form_with model: @diary,local: true do |f|%>
<%= render 'layouts/error_messages', model: f.object %>
<%= f.label :title1 %>
<%=f.text_field :diary_content_0%>
</br>
<%= f.label :title2 %>
<%=f.text_field :diary_content_1%>
</br>
<%= f.label :title3 %>
<%=f.text_field :diary_content_2%>

<% f.label :diary_day %>

<!--パラメータの値を持たせて初期値にセットするhttps://qiita.com/isao_e_dev/items/1a8d2fe12bf7c0486c2d-->
<%=f.text_field :created_at,value: (params[:diary_day])%>
</br>

<%=f.submit "投稿する"%>

<%end%>
