<!DOCTYPE html>
<html>
<head>
<title>日記</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>

<h2>3行日記</h2>
<%=form_with model: @diary,local: true do |f|%>
<%= render 'layouts/error_messages', model: f.object %>
<%= f.label :内容1 %>
<%=f.text_field :diary_content_0%>
</br>
<%= f.label :内容2 %>
<%=f.text_field :diary_content_1%>
</br>
<%= f.label :内容3 %>
<%=f.text_field :diary_content_2%>
</br>
<%= f.label :日付 %>
<%=f.date_field :created_at,value: @diary_day %>
<%
=begin%>
 <%=f.text_field :created_at,value: @diary_day %>
<%
=end%>
</br>


<%=f.submit "投稿する"%>

<%end%>
