<!DOCTYPE html>
<html>
<head>
<title>æ—¥è¨˜</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>

<h2>3è¡Œæ—¥è¨˜</h2>



<%=form_with model: @diary,local: true do |f|%>


<%= f.select :assess, [["ðŸ˜†5", "5"], ["ðŸ˜„4", "4"], ["ðŸ™‚3", "3"], ["ðŸ˜‘2", "2"],["ðŸ˜ž1", "1"]]%>

<%= render 'layouts/error_messages', model: f.object %>
<%= f.label :å†…å®¹1 %>
<%= f.text_field :diary_content_0%>
</br>
<%= f.label :å†…å®¹2 %>
<%= f.text_field :diary_content_1%>
</br>
<%= f.label :å†…å®¹3 %>
<%= f.text_field :diary_content_2%>
</br>
<%= f.label :æ—¥ä»˜ %>
<%= f.date_field :created_at,value: @diary_day %>
</br>


<%= f.button 'é€ä¿¡ã™ã‚‹', type: 'button', onclick: 'submit();'%>

<%end%>
