

<div class="bg_pattern Cross"></div>
      <body>
<%
=begin%>
 <script type="text/javascript">$(“td:contains(‘性格’,’結果’)”).css(“background-color”,”#ccc”);</script>
<%
=end%>




<div class="graph">
  <%= line_chart ({"cp" => @cp, "np" => @np, "a" => @a, "fc" => @np, "ac" => @ac}),colors: ["#b00", "#666"] ,min: 0, max: 20%>
</div>
  <div class="result_container">




            <h1 >
              エゴグラム診断結果
            </h1>

            <h2 >
              <%=TestResult.find(@result).egogram_type%>タイプ
            </h2>


            <li class= "result_character_l">
              <%= simple_format("#{@user_name}は"+TestResult.find(@result).character)%>
            </li>



            <h2 class="result_strength_title">
              長所
            </h2>
            <li class="result_strength_l">
              <%= simple_format(TestResult.find(@result).stregth)%>
            </li>



            <h2 class="result_weakness_title">
              短所
            </h2>

              <li class="result_weakness_l">
                <%= simple_format(TestResult.find(@result).weakness)%>
              </li>



            <%# <h1 class="result_think_about_title">
              この性格の普段思っていること
            </h1>
              <li class="result_think_about_l">

              </li> %>


            <h2 class="result_people_around_you_title">
              周りから見たあなた
            </h2>
              <li class="result_people_around_you_l">
                <%= simple_format(TestResult.find(@result).people_around_you)%>
              </li>
              <h2>
            <%=link_to "マイページ","/contents",class: "link"%></h2>
  </div>

    </body>