<!DOCTYPE html>
  <html>
    <head>
      <title>診断結果</title>
          <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    </head>
      <body>

      <%= line_chart ({"cp" => @cp, "np" => @np, "a" => @a, "fc" => @np, "ac" => @ac})%>
        <div class="result_container">

          <div class="result_top">
            <h1>
              エゴグラム結果
            </h1>
            <%@result.each do |i| %>
            <p>あなたのタイプは<%= i.egogram_type %>です</p>


          </div>

          <div class="result_graph">
            <h1>
              結果に基づいた折れ線グラフ表示
            </h1>
          </div>

          <div class="result_character">
            <p>
              <%= @user_name%>
              <%= i.character%>
            </p>
          </div>
          <div class="result_box_strength">
            <h1>
              長所
            </h1>
            <div class="result_box_strength_l">
              <li>
                <%= i.stregth%>
              </li>
            </div>
          </div>

          <div class="result_box_weakness">
            <h1>
              短所
            </h1>
            <div class="result_box_weakness_l">
              <li>
                <%= i.weakness%>
              </li>
            </div>
          </div>

          <div class="result_box_think_about">
            <h1>
              この性格の普段思っていること
            </h1>
            <div class="result_box_think_about_l">
              <li>

              </li>
            </div>
          </div>

          <div class="result_box_people_around_you">
            <h1>
              周りから見たあなた
            </h1>
            <div class="result_box_people_around_you_li">
              <li>
                <%= i.people_around_you %>
              </li>
              <%end%>
            </div>
          </div>

        </div>
    </body>

    <%= yield %>
  </html>

