<!DOCTYPE html>
<html>
<head>
<title>エゴグラム性格診断テスト</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="home_container">

エゴグラム性格診断をします。
以下の50個の質問に難しく考えず直感で答えて下さい

<%=form_with   modele: @test,url: egograms_test_path, local: true,method: :post do |f|%>
<!--cp_qestion-->
<li class="tb_01"><span class="cp_hide sp_show"> </span>時間を守らないのは嫌だ</li>

<!--f.radio_button :オブジェクト名(保存するカラム名など) ,:ここに値を設定-->
<%=f.radio_button :q_cp1 , 2, checked: true%>

<!-- f.label :ラジオボタンで書いたオブジェクト名(カラム名など) ,画面上で表示したいタイトル,value: ラジオボタンで書いた値 -->
<%=f.label :q_cp1 ,"はい",value: 2%>
<%=f.radio_button :q_cp1 ,0%>
<%=f.label :q_cp1 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_cp1 ,1%>
<%=f.label :q_cp1 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<li class="tb_01"><span class="cp_hide sp_show"> </span>cp_test</li>
<%=f.radio_button :q_cp2 , 2, checked: true%>
<%=f.label :q_cp2 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_cp2 ,0%>
<%=f.label :q_cp2 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_cp2 ,1%>
<%=f.label :q_cp2 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<!--np_qestion-->
<li class="tb_01"><span class="np_hide sp_show"> </span>np_test1</li>
<%=f.radio_button :q_np1 , 2, checked: true%>
<%=f.label :q_np1 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_np1 ,0%>
<%=f.label :q_np1 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_np1 ,1%>
<%=f.label :q_np1 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<li class="tb_01"><span class="np_hide sp_show"> </span>np_test2</li>
<%=f.radio_button :q_np2 , 2, checked: true%>
<%=f.label :q_np2 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_np2 ,0%>
<%=f.label :q_np2 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_np2 ,1%>
<%=f.label :q_np2 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<!--a_qestion-->
<li class="tb_01"><span class="np_hide sp_show"> </span>a_test1</li>
<%=f.radio_button :q_a1 , 2, checked: true%>
<%=f.label :q_a1 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_a1 ,0%>
<%=f.label :q_a1 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_a1 ,1%>
<%=f.label :q_a1 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<li class="tb_01"><span class="np_hide sp_show"> </span>a_test2</li>
<%=f.radio_button :q_a2 , 2, checked: true%>
<%=f.label :q_a2 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_a2 ,0%>
<%=f.label :q_a2 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_a2 ,1%>
<%=f.label :q_a2 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<!--fc_qestion-->
<li class="tb_01"><span class="np_hide sp_show"> </span>fc_test1</li>
<%=f.radio_button :q_fc1 , 2, checked: true%>
<%=f.label :q_fc1 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_fc1 ,0%>
<%=f.label :q_fc1 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_fc1 ,1%>
<%=f.label :q_fc1 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<li class="tb_01"><span class="np_hide sp_show"> </span>fc_test2</li>
<%=f.radio_button :q_fc2 , 2, checked: true%>
<%=f.label :q_fc2 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_fc2 ,0%>
<%=f.label :q_fc2 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_fc2 ,1%>
<%=f.label :q_fc2 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<!--ac_qestion-->
<li class="tb_01"><span class="np_hide sp_show"> </span>ac_test1</li>
<%=f.radio_button :q_ac1 , 2, checked: true%>
<%=f.label :q_ac1 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_ac1 ,0%>
<%=f.label :q_ac1 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_ac1 ,1%>
<%=f.label :q_ac1 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>

<li class="tb_01"><span class="np_hide sp_show"> </span>ac_test2</li>
<%=f.radio_button :q_ac2 , 2, checked: true%>
<%=f.label :q_ac2 ,"はい",{value: 2,style: "display: inline-block;"}%>
<%=f.radio_button :q_ac2 ,0%>
<%=f.label :q_ac2 ,"いいえ",{value: 0,style: "display: inline-block;"}%>
<%=f.radio_button :q_ac2 ,1%>
<%=f.label :q_ac2 ,"どちらでもない",{value: 1,style: "display: inline-block;"}%>




<%=f.submit%>
<!--/egograms で methodがpostになっているので、egograms_controllerのcreateアクションに飛ぶ-->
<%end%>
<!--form_withのmethodをgetに変えると下記の合計値が表示される-->
<li><%=  p @total_cp%></li>
<li><%=  p @total_np%></li>

</body>

<%= yield %>
</html>







