<!DOCTYPE html>
<html>
<head>
<title>エゴグラム性格診断テスト</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="home_container">

エゴグラム性格診断をします。
以下の50個の質問に難しく考えず直感で答えて下さい
<!-- <form action="result_single.php" method="post" name="form1" id="form1"> -->
<%=form_with model: @test, local: true,method: :post do |f|%>
<%=f.label :title%>
<%end%>

   <div class="egogram_question">
  <% @test_np.each do |test| %>
<%= label_tag :test1, test.title %>
<%= check_box_tag :test1,1,{:checked => "checked"}  %>
    <% end %>
</div>


<ul class="tbl_41"><!-- qcp_02 -->
	<li class="tb_01"><span class="pc_hide sp_show"> </span>時間を守らないのは嫌だ</li>
    <label for="qcp_02_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br />　</p><input type="radio" id="qcp_02_2" name="qcp_02" value="2" /></li></label>
    <label for="qcp_02_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br />　</p><input type="radio" id="qcp_02_0" name="qcp_02" value="0" /></li></label>
    <label for="qcp_02_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br />　</p><input type="radio" id="qcp_02_1" name="qcp_02" value="1" /></li></label>
</ul>

<!--
	//alert("こんにちは");

	$(document).ready(function(){
		//$("body").css('background-color','blue');
		$("ul.tbl_41:even").css('background-color','#e9f7e4');
	});

        $(function() {
                $("#form1").submit(function(){
                        //設問の数
                        var question_num = 50;

                        //チェックされているラジオボタンの数
                        var checked_num = $("ul.tbl_41").find('input[type="radio"]:checked').size();

                        if (question_num == checked_num) {
                                return true;
                        }
                        $(".error_msg").show();
                        return false;
                });
        });

// -->



</body>

<%= yield %>
</html>

