<div class="login">
  <div class="logintitle">
    login
  </div>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <p class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "メールアドレス" %>
          <i class="fa fa-user"></i>
        </p>
        <p class="field">
          <%= f.password_field :password, autocomplete: "current-password",placeholder: "パスワード" %>
          <i class="fa fa-lock"></i>
        </p>
      <% if devise_mapping.rememberable? %>
        <div class="field_checkbox">
          <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>ログイン情報を保持したままにする</span>
          <% end %>
        </div>
      <% end %>
      <p class="submit"><%= f.submit "ログイン" %></p>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div> <!--/ Login-->
