
<%= link_to "新規作成",new_goal_path %>


<% provide(:title, "一覧") %>
<h1>一覧ページ</h1>


<%@goal.each do |form| %>
<ul>
<li>Q1. 自分のどんなところを変えたい？
</li>
<%# <%= link_to edit_goal_path(form.goal_content_0) %> %>
<%= link_to form.goal_content_0,controller: "goals",action: "edit",id: form %>
</ul>

Q2.なぜ変えたいと思ったか？きっかけは？
<%= form.goal_content_1 %> </br>
Q3.変えるためにやるべきことは？
<%= form.goal_content_2 %> </br>
Q4.無理なくできそうなことは？
<%= form.goal_content_3 %> </br>
Q5.目標(ゴール)はどこにする？
<%= form.goal_content_4 %> </br>

<%end%>

</div>



