



<% provide(:title, "一覧") %>
<h1>一覧ページ</h1>
<h2><%= link_to "新規作成",new_goal_path %></h2>

<%= paginate @goal %>
<div class="text_align_left">
<%@goal.each do |f| %>
<h3>作成日<%= f.created_at.strftime('%Y/%m/%d(%a)')%></h3>
<!--<h3>作成日<%= l f.created_at%></h3>-->

<h3>更新日<%= f.updated_at.strftime('%Y/%m/%d(%a)')%></h3>
<%= link_to "編集",controller: "goals",action: "edit",id: f %>
<h2>Q1. 自分のどんなところを変えたい？</h2>

<%# <%= link_to edit_goal_path(f.goal_content_0) %>
<ul><%= f.goal_content_0%></ul>

<h2>Q2.なぜ変えたいと思ったか？きっかけは？</h2>
<ul><%= f.goal_content_1 %> </ul>

<h2>Q3.変えるためにやるべきことは？</h2>
<ul><%= f.goal_content_2 %></ul>

<h2>Q4.無理なくできそうなことは？</h2>
<ul><%= f.goal_content_3 %></ul>

<h2>Q5.目標(ゴール)はどこにする？</h2>
<ul><%= f.goal_content_4 %> </ul>


<%end%>

</div>



