

</div>
<% @goal.each do |goal| %>
<tr>
<td><%= goal.goal_content_0%></td>
<td><%= goal.goal_content_1%></td>
<td><%= goal.goal_content_2%></td>
<td><%= goal.goal_content_3%></td>
<td><%= goal.goal_content_4%></td>
</tr>
<% end %>
iiii

