      <header>
<%
=begin%>
 <%=link_to image_tag ("app/assets/images/PF_logo.png",width: "5",alt: "home"),root_path %>


          <li>現在ログイン中のユーザー：<%= current_user.email %></li>
          <li>現在ログイン中のid：<%= current_user.id %></li>
<strong><%= link_to current_user.username, root_path %></strong>
<%
=end%>


      <!--ページ上部にメニューが出るuser_signed_in? はdeviseのHelperメソッド
        ログインしているかしてないかで上部のメニューの表示が変わる
        current_user で現在サインインしているユーザーの情報を取得できる-->
        <nav>
          <% if user_signed_in? %>
          <div class="header_list">


        <div class="link">
          <ol>
          <div class="header_logo">
        <%= link_to root_path do %>
            <%= image_tag 'PF_logo.png',width: "50px",alt: "interpersonal relationship" %>
          <% end %>
</div>

            <li>
            <%=link_to "エゴグラム診断","/egograms/test",class: "link"%>
            </li>
            <li>
            <%=link_to "マイページ","/contents",class: "link"%>
            </li>
            <li>
            <%=link_to "日記","/diaries",class: "link"%>
</li>
<li>
            <%=link_to "目標","/goals",class: "link"%></li>
<li>
            <%=link_to "エゴグラムとは？","/contents/egogram_explanation",class: "link"%></li>
<li>
            <%=link_to "エゴグラムの性質","/contents/egogram_example",class: "link"%></li>
<li>
            <%=link_to "日記の書き方","/contents/diary_explanation",class: "link"%></li>
<li>
            <%=link_to "ヘルプ","/contents/help",class: "link"%></li>


<li><%=link_to "診断一覧と編集","/egograms/new"%></li>

<%
=begin
%>
 <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<li>
<%=link_to "診断一覧と編集","/egograms/new"%></li>

<%
=end
%>

        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class: "link"%>
          </li>

</ol>
            </div>
            </div>
          <% else %>
                  <%= link_to root_path do %>
            <%= image_tag 'PF_logo.png',width: "50",alt: "interpersonal relationship" %>
          <% end %>
          <%=link_to "このサイトについて",root_path,class: "link"%>
                      <%=link_to "エゴグラムとは？","/contents/egogram_explanation",class: "link"%>
            <%=link_to "エゴグラムの性質","/contents/egogram_example",class: "link"%>

            <%=link_to "日記の書き方","/contents/diary_explanation",class: "link"%>
          <%= link_to '新規登録', new_user_registration_path ,class: "link"%>
          <%= link_to 'ログイン', new_user_session_path ,class: "link"%>

<%
=begin%>
            <%=link_to "診断結果index","/egograms/index",class: "link"%>
 <%=link_to "診断一覧と編集","/egograms/new"%>
 <%=link_to "診断編集","/egograms/edit"%>
 <%=link_to "日記new","/diaries/new",class: "link"%>
 <%=link_to "目標new","/goals/new",class: "link"%>
            <%=link_to "目標edit","/goals/:id/edit",class: "link"%>
<%
=end%>

          <% end %>
      <nav>
    </header>