      <header>
      <a href="/" class="header-logo">
        <img src="https://prog-8.com/assets/packs/dist/images/header_logo-ef0b79c05943d1702565..svg">
      </a>
      <!--ページ上部にメニューが出るuser_signed_in? はdeviseのHelperメソッド
        ログインしているかしてないかで上部のメニューの表示が変わる
        current_user で現在サインインしているユーザーの情報を取得できる-->
        <nav>
          <% if user_signed_in? %>
            <li><strong><%= link_to current_user.username, contents_show_path %></strong></li>
            <li><%=link_to "エゴグラム","#"%></li>
            <li><%=link_to "日記","#"%></li>
            <li><%=link_to "Q&A","#"%></li>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
            <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%=link_to "このサイトについて","/contents/home"%></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
          <li><%= link_to 'ログイン', new_user_session_path %></li>



          <% end %>
      <nav>
    </header>