<!--ページ上部にメニューが出るuser_signed_in? はdeviseのHelperメソッド
ログインしているかしてないかで上部のメニューの表示が変わる
current_user で現在サインインしているユーザーの情報を取得できる-->

<header>
  <% if user_signed_in? %>
    <div class="link">
      <nav class="menu">
        <ol>
          <li class="menu-item active"><%=link_to "TOP",root_path,class: "link"%></li>
          <li class="menu-item">
            <a href="#0">日記</a>
            <ol class="sub-menu">
              <li class="menu-item"><%=link_to "日記","/diaries",class: "link"%></li>
              <li class="menu-item"><%=link_to "目標","/goals",class: "link"%></li>
            </ol>
          </li>
          <li class="menu-item">
            <a href="#0">エゴグラム</a>
              <ol class="sub-menu">
                <li class="menu-item"><%=link_to "エゴグラム診断","/egograms/test",class: "link"%></li>
                <li class="menu-item"><%=link_to "診断結果一覧","/egograms",class: "link"%></li>
              </ol>
            </li>
          <li class="menu-item"><%=link_to "検索","/search",class: "link"%></li>
          <li class="menu-item">
            <a href="#0">ヘルプ</a>
            <ol class="sub-menu">
              <li class="menu-item"><%=link_to "エゴグラムとは ？","/contents/egogram_explanation",class: "link"%></li>
              <li class="menu-item"><%=link_to "エゴグラムの性質","/contents/egogram_example",class: "link"%></li>
              <li class="menu-item"><%=link_to "日記の書き方","/contents/diary_explanation",class: "link"%></li>
              <li class="menu-item"><%=link_to "Q&A","/contents/help",class: "link"%></li>
            </ol>
          </li>
          <li class="menu-item">
            <a href="#0">設定</a>
            <ol class="sub-menu">
              <li class="menu-item"><%=link_to "マイアカウント","/contents",class: "link"%></li>
              <li class="menu-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class: "link"%></li>
            </ol>
          </li>
        </ol>
      </nav>
    </div>
  <% else %>
    <div class="link">
      <nav class="menu">
        <ol>
          <li class="menu-item active"><%=link_to "TOP",root_path,class: "link"%></li>
          <li class="menu-item active"><%=link_to "エゴグラムとは？","/contents/egogram_explanation",class: "link"%></li>
          <li class="menu-item active"><%=link_to "日記の書き方","/contents/diary_explanation",class: "link"%></li>
          <li class="menu-item active"><%=link_to "エゴグラムの性質","/contents/egogram_example",class: "link"%></li>
          <li class="menu-item active"><%= link_to '新規登録', new_user_registration_path ,class: "link"%></li>
          <li class="menu-item active"><%= link_to 'ログイン', new_user_session_path ,class: "link"%></li>
        </ol>
      </nav>
    </div>
  <% end %>
</header>