<!DOCTYPE html>
<html>
  <head>
    <title>EgoYourSelf</title>


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <%=render "layouts/header"%>
    </header>
  <body>
  <div class="wrap_original">



  <!-- flashメッセージ:設定ログインした時など「ログインしました」とメッセージが出る-->
<% flash.each do |key, value| %>
  <div class="alert alert-<%= bootstrap_alert(key)%> close-flash">
    <%= value %>
    <button type="button" class="close close-button" data-dismiss="alert">
      &times;
    </button>
  </div>
<% end %>

    <%= yield %>
  </body>
<footer>
    <%=render "layouts/footer"%>
</footer>
    </div>

</html>
